/*fonts*/
@font-face {
	font-family: 'REZ';
	src: url('fonts/REZ.ttf') format('opentype');
	font-weight: normal;
	font-style: normal;
}

.font_rez{
	font-family:'REZ',Sans-Serif;
}

/*page*/
.page_body{
	background-color:#dddddd;
	font-family:Terminus,Arial;
}

.page_title_bar{
	padding-left:10px;
	padding-right:10px;
	padding-top:6px;
	padding-bottom:2px;
	height:25px;
	background-color:#888888;
}

/*menu*/
.menu_div{
	padding:10pt;
}

.menu_div:hover{
	background-color:#bbbbbb;
}

.menu_img{
	max-height:100%;
	max-width:100%;
}


/*d3 javascripts*/
.d3_bc_node{
	font-size:10px;
}

.d3_bac_axis path,.d3_bac_axis line {
	font-family:sans-serif;
	font-size:10px;
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}

.d3_bac_bar {
	fill: steelblue;
}

.d3_bac_x.d3_bac_axis path {
	display: none;
}

.d3_bac_text{
	font-family:sans-serif;
	font-size:10px;
}
